VITE_APPCHAIN_ID=lendpay-4
VITE_CHAIN_NAME=lendpay
VITE_CHAIN_PRETTY_NAME=LendPay Testnet
VITE_CHAIN_NETWORK_TYPE=testnet
VITE_CHAIN_BECH32_PREFIX=init
VITE_CHAIN_RPC_URL=http://localhost:26657
VITE_CHAIN_REST_URL=http://localhost:1317
VITE_CHAIN_INDEXER_URL=http://localhost:8080
VITE_NATIVE_DENOM=ulend
VITE_NATIVE_SYMBOL=LEND
VITE_NATIVE_DECIMALS=6
VITE_PACKAGE_ADDRESS=0x5972A1C7118A8977852DC3307621535D5C1CDA63
VITE_LOAN_MODULE_NAME=loan_book
VITE_REQUEST_COLLATERAL_FUNCTION_NAME=request_collateralized_loan
VITE_REQUEST_FUNCTION_NAME=request_profiled_loan
VITE_REQUEST_PROFILE_ID=1
VITE_REPAY_FUNCTION_NAME=repay_installment
VITE_API_BASE_URL=http://localhost:8080
VITE_PREVIEW_OPERATOR_TOKEN=
VITE_ENABLE_DEMO_APPROVAL=false
